
/*
body {
    font-size: 1.2rem;
    color: #444;
}
*/

.input {
    margin: 20px;
}

.input > div {
    margin: 10px;
}

.input label {
    display: inline-block;
    width: 8rem;
    text-align: right;
    margin-right: 3rem;
}

.list {
    border-collapse: collapse;
}

.list td,th {
    border: 1px solid #CCC;
    padding: 5px;
    min-width: 100px;

}