<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song</title>

    <link href="/css/song.css?1" rel="stylesheet">

</head>
<body>
<h1>노래 수정</h1>

<div class="input">
  <form action="../update-save.do" method="post">
    <input type="hidden" name="idx" th:value="${song.idx}">
  <div>
    <label>제목</label>
    <input type="text" name="title" th:value="${song.title}">
  </div>

  <div>
    <label>가수</label>
    <input type="text" name="singer" th:value="${song.singer}">
  </div>

  <div>
    <label>작곡</label>
    <input type="text" name="composer" th:value="${song.composer}">
  </div>

  <div>
    <label>발표년도</label>
    <input type="text" name="year" th:value="${song.year}">
  </div>

  <div>
    <label></label>
    <button>저장</button>
  </div>

  </form>
</div>

</body>
</html>